<div class="container">
	<div class= "row">
		<div class="col-md-12 col-sm-12">
			<div class="nephu-logo">
			<%= image_tag "djnephulogo.png", class: "my_dj" %> 
			</div>
			</div>
			<br>
			<br>
			<br>
<!--/////////////////////////////Booking Forms Begins//////////////////////////////////////////////////////////////-->

			<div class="dj-frame">
			<%= image_tag "dj_nephu", class: "nephu_pic" %>
			<h3 class="phrase">I'm DJ Nephu, <B>"The Most Famous Un-famous DJ"</B>, book me for your next event!</h3>
			<br>
		</div>








		</div>
	</div>
