<div class="container">
	<div class= "row">
		<div class="col-md-12 col-sm-12">
			<div class="nephu-logo">
			<%= image_tag "djnephulogo.png", class: "my_dj" %> 
			</div>
			</div>
	
			
<!--/////////////////////////////Booking Forms Begins//////////////////////////////////////////////////////////////-->
</div>
			<div class="dj-frame">

			<%= image_tag "dj_nephu.png", class: "nephu_pic" %>
			<h3 class="phrase">I'm DJ Nephu 
			<h3 class="phrase">Book me for your next event!</h3>
			<br>
			<br>
		<form action="https://formspree.io/athoma38@gmail.com"
      method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="_replyto" placeholder="Email">
    <input type="submit" value="Send" id="form-btn">
</form>
		
</div>





		
	</div>

<br>
<br>
<br>
<br>