// Place all the styles related to the My_Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.nephu-logo{
	text-align: center;

}

.nephu_pic{
	border-radius: 80px;

}

.dj-frame{
	text-align: center;
	border: solid 2px;
	height: 500px;
	margin-top: 300px;
}

.phrase{
	color: white;
	font-family: serif;
}

.under-line{
	height: 1px;
	width: 100%;
	border: solid 1px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
}