// Place all the styles related to the My_Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.nephu-logo{
	text-align: center;
	margin-top: -63px;
}

.nephu_pic{
	border-radius: 80px;

}

.dj-frame{
	text-align: center;
	height: auto;

}

.phrase{
	color: black;
	font-family: serif;
	font-size: 36px;

}

.under-line{
	height: 1px;
	width: 100%;
	border: solid 1px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
}

input{
	  border-radius: 15px;
    height: 35px;
    width: 30%;
    
}

textarea{
		width: 40%;
    height: 170px;
    border-radius: 8px;
    border: solid 1px;
    padding: 6px;
}





#form-btn {
    color: #fff;
    background-color: #263238;
    width: 100px;
    border: black;
}




